$primary-color: #9356DC;
.heart_icon_container{
    position: relative;
}
@keyframes heart {
    0% {
        opacity: 0;
    }
    25% {
        opacity : 0.25;
    }
    50% {
        opacity: 0.5;
    }
    75% {
        opacity: 0.75;
    }
    100% {
        opacity: 1;
        
    }
}
.heart_icon{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 20px;
    font-size: 20px;
    margin-top: 20px;
    position: relative;
}
.heart_icon:hover .far{
    animation: heart 1s ease-in-out forwards;
    background: linear-gradient($primary-color,#FF79DA);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
}
.heart_icon:not(:hover) .far{ 
    animation: heart_return 1s ease-in-out;
    animation-fill-mode: none;
}
.far {
    animation-fill-mode: none;
}
#heart_icon_restaurant{
    margin-top: 35px;
}

@keyframes heart_return {
    from {
        background: linear-gradient($primary-color,#FF79DA);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
    }

    to {
        background: rgb(240, 240, 240);
        font-weight: 300;
    }
}