$primary-color: #9356DC;
.heart_icon_container{
    position: relative;
}
.heart_icon{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 20px;
    font-size: 20px;
    margin-top: 20px;
    position: relative;
}
.heart_icon:hover .far{
    background: linear-gradient($primary-color,#FF79DA);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    transition: all 1s;
}
.heart_icon:not(:hover) .far{ 
    font-weight: 300;
    background: rgb(240, 240, 240);
    transition: all 1s;
}
#heart_icon_restaurant{
    margin-top: 35px;
}
@keyframes heart {
    from {
        background: rgb(240, 240, 240);
        font-weight: 300;
    }
    to {
        background: linear-gradient($primary-color,#FF79DA);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-weight: bold;
    }
}