$primary-color: #9356DC;
$secondary-color: #FF79DA;
$tertiary-color: #99E2D0;
$background-color: rgb(233, 233, 233);

@mixin center {
    display: flex;
    justify-content: center;
}
#loading-spinner {
    position: absolute;
    width: 100%;
    height: 100%;
}
#loading-spinner::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 10001;
    overflow: hidden;
    background: #0b0b0b;
    opacity: 0.5;
    animation: load 1s linear 2s;
    animation-fill-mode:forwards;
}
@keyframes load {
    0% { z-index:10001; opacity: 0.5;}
    100% { z-index: 1000; opacity: 0;}
}
#loading-spinner::after {
    box-sizing: border-box;
    z-index: 10001;
    content: "";
    position: absolute;
    top: 15%;
    left: 50%;
    margin: -25px 0 0 -25px;
    border: 3px solid #f3f3f3;
    border-top: 3px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: custom-loading 1s linear infinite, load 1s linear 2s;
    animation-fill-mode:forwards;
}
@keyframes custom-loading {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
body{
    width: 100%;
    margin: 0 auto;
    position: relative;
    font-family: 'Roboto', 'sans-serif';
}
#main_wrapper{
    width: 100%;
    margin: 0 auto;
    position: relative;
    z-index: 901;
}
header{
    width: 100%;
}
#logo{
    margin: 10px auto;
    font-family: 'Shrikhand', 'sans-serif';
    font-size: 30px;
}
    
#logo_contener{
    display: flex;
    justify-content: center;
    margin: 0px auto;
        
}

.location{
    display: flex;
    justify-content: center;;
    background-color: $background-color;
}
#location_icon{
    display: flex;
    justify-content: center;;
    align-items: center;
    margin-right: 15px;
}
.booking{
    background-color: rgb(240, 240, 240);
}
h1{
    text-align: center;
    font-weight: 900;
    margin: 0;
    padding-top: 40px;   
    cursor: default;
}
.introduction{
    text-align: center;
    font-family: 'Roboto','sans-sérif';
    font-weight: 300;
    font-size: 20px;
}
#btn_header{
    display: flex;
    justify-content: center;;
}
.button{
    display: flex;
    justify-content: center;
    position: relative;
    margin: auto 20px;
}
.btn{
    border-radius: 12px;
    width: 100%;
    height: 55px;
    margin: 10px auto;
    border: none;
    display: flex;
    align-items: center;
    padding-left: 35px;
    box-shadow: 2px 2px 10px rgb(209, 209, 209);
    cursor: pointer;

        &:hover{
            background-color: rgba(147, 86, 220, 0.1);
        }
}
#icon_choose{
    margin-right: 20px;
    color: gray;

        &:hover{
            color: $primary-color;
        }
}
#icon_menu_composition{
    margin-right: 20px;
    color: gray;

        &:hover{
            color: $primary-color;
        }
}
#icon_eat_out{
    margin-right: 20px;
    color: gray;

        &:hover{
            color: $primary-color;
        }
}
.number{
    position: absolute;
    left: -12px;
    top: calc(50% - 12px);
    background-color: $primary-color;
    border-radius: 30px;
    width: 24px;
    height: 24px;
    display: flex;
    justify-content: center;;
    align-items: center;
    color: white;
}
h2{
    margin-left: 20px;
    cursor: default;
}
#restaurant_card_section{
    background-color:rgb(240, 240, 240);
    display: flex;
    margin-top: 20px;
    flex-direction: column;
}
.restaurant_card{
    margin: 10px 10px;
    box-shadow: 2px 2px 10px rgb(209, 209, 209);
    border-radius: 15px;
    overflow: hidden;
    position: relative;

        &a{
            text-decoration: none;
            color: inherit;
        }
        &__paragraph{
            background-color: $tertiary-color;
            width: 90px;
            height: 30px;
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            top: 20px;
            right: 20px;

            & span{
            text-decoration:none;
            color:rgb(46, 94, 71);
            }
        }
}
.last_restaurant_card{
    margin-bottom: 50px;
}
.restaurant_card img{
    width: 100%;
    height: 150px;
    object-fit: cover;
}
.text_restaurant_card{
    display: flex;
    justify-content: space-between;
    margin: 0 10px;
}
.name_and_location_contener{
    display: flex;
    flex-direction: column;
}
.name{
    font-weight: bold;
    margin: 10px 0 5px 0;
    font-size: 15px;
}
.restaurant_location{
    margin: 5px 0 10px 0;
    font-size: 14px;
    font-weight: 300;
}
.heart_icon_container{
    position: relative;
}

@keyframes heart {
    0% {
        opacity: 0;
        font-weight: 100;
    }
    25% {
        opacity : 0.25;
        font-weight : 200;
    }
    50% {
        opacity: 0.5;
        font-weight : 300;
    }
    75% {
        opacity: 0.75;
        font-weight: 400;
    }
    100% {
        opacity: 1;
        font-weight: bold;
    }
}
.heart_icon{
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 20px;
    font-size: 20px;
    margin-top: 20px;
    position: relative;  
}
.heart_icon:hover .far{
    animation: heart 1s ease-in-out;
    background: linear-gradient($primary-color,#FF79DA);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

footer{
    background-color: rgb(63, 58, 58);
    display: flex;
    color: white;

    & a{
        color: inherit;
        text-decoration: none;
    }
}
#footer__container{
    margin: 20px 30px;
}
#footer__logo{
    font-family: 'Shrikhand', 'sans-sérif';
    font-size: 19px;
}
#footer_text__container{
    margin-bottom: 20px;
}
.footer_text{
    display: flex;
    margin: 5px 0;
    cursor: pointer;
}
.footer_text_1{
    margin-top: 20px;
}
.footer_icon{
    display: flex;
    align-items: center;
    color: white;
    margin-right: 10px;
    height: 20px;
}

.footer__paragraph{
    margin: 0 0 5px 0;
}
.footer_p{
    margin: 5px 0 15px 0;
    cursor: pointer;
}
.contact{
    margin-top: 10px;
}

@media (min-width: 800px){

    #restaurant_card_block{
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 20px;
        width: 100%;
    }
    .restaurant_card{
        width: 45%;
        margin: 10px auto;
    }
    .button{
        width: 75%;
    }
    nav{
        display: flex;
    }
}