$primary-color: #9356DC;
$tertiary-color: #99E2D0;
$dishes_cards__checked-width: 45px;

body{
    width: 100%;
    margin: 0;
    position: relative;
    font-family: 'Roboto', 'sans-serif';
}
#main_wrapper{
    width: 100%;
    margin: 0 auto;
}
header{
    width: 100%;
    z-index: 1;
    position: relative;
}
#logo{
    margin: 10px 35px 10px 0;
    font-family: 'Shrikhand', 'sans-srif';
    font-size: 30px;
    width: 100%;
    display: flex;
    justify-content: center;

        &_contener a{
            display: flex;
            align-items: center;
            cursor: pointer;
            text-decoration: none;
            color: inherit;
            margin: auto 20px;
        }
}
#logo_contener{
    display: flex;
    justify-content: center;
    margin: 0px auto;
}
.picture_restaurant_card{
    width: 100%;
    height: 230px;
    object-fit: cover;
}
section{
    background-color: rgb(240, 240, 240);
    border-top-left-radius: 35px;
    border-top-right-radius: 35px;
    display: flex;
    margin-top: -35px;
    z-index: 2;
    position: relative;
    flex-direction: column;
}
#dishes-cards__header{
    display: flex;
    justify-content: space-between;
    margin: auto 20px;
}
h1{
    margin: 30px auto 0 0;
}
h2{
    margin: 40px 10px 0 16px;
    font-weight: 300;
    font-size: 17px;
}
.line_bellow{
    width: 50px;
    height: 3px;
    margin: 0 0 20px 15px;

        & hr{
            color: $tertiary-color;
    height: 3px;
    background-color: $tertiary-color;
    border: none;
        }
}
@keyframes glissement {
    from {
      transform: translateY(0);
      opacity: 0;
    }
  
    to {
      transform: translateY(1);
      opacity: 1;
    }
  }

@for $i from 1 through 9 {
    .dishes_cards#{$i} {
        animation-delay: $i * 400ms;
    }
}
.dishes_cards{
    display: -webkit-box;
    -webkit-box-pack: justify;
    background-color: white;
    border-radius: 20px;
    margin: 5px 10px;
    box-shadow: 2px 2px 4px rgb(209, 209, 209);
    cursor: pointer;
    animation-name: glissement;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: forwards;
    animation-play-state: running;
    transform-origin: top;
    animation-fill-mode: both;

        &__container{
            width: 90%;
            transition: width 700ms;
            margin-top: 10px;
       
        }
        &__text{
            display: flex;
            justify-content: space-between;
            margin: auto 15px;
            width: 110%;
            transition: width 1s linear;
        }
        &__checked{
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: $tertiary-color;
            border-top-right-radius: 20px;
            border-bottom-right-radius: 20px;
            transition: all 700ms linear;
            width: 0%;
        }
}

.dishes_cards:hover{
    & .dishes_cards__checked{
        opacity: 1;
        display: flex;
        width: 22%;
        transition: width 700ms linear;
        
    }
    & .accompaniment{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;   
    }
    & .dishes_cards__container{
        width: 75%;
    }
    & .dishes_name{
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap; 
    }
    & .dishes_cards__text{
        width: 100%;
        transition: width 1s linear;
    }
}
.dishes_name{
    font-weight: bold;
    margin: 10px 15px 0 15px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.accompaniment{
    margin: 10px 0;
    font-size: 14px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.price{
    font-weight: bold;
    margin: 8px 15px;
    padding-right: 15px;
}

.check_icon{
    background-color: $tertiary-color;
    color: white;
    font-size: 30px;
    transform: rotate(-360deg);
    transition: all 500ms ease-in-out;
    opacity: 0;
}
.dishes_cards:hover .check_icon{
    transform: rotate(0deg);
    opacity: 1;
}
#btn_order_container{
    display: flex;
    justify-content: center;
    margin: 50px 0 30px 0;
}

footer{
    background-color: rgb(63, 58, 58);
    display: flex;
    color: white;

    & a{
        color: inherit;
        text-decoration: none;
    }
}
#footer__container{
    margin: 20px 30px;
}
#footer__logo{
    font-family: 'Shrikhand', 'sans-sérif';
    font-size: 19px;
}
#footer_text__container{
    margin-bottom: 20px;
}
.footer_text{
    display: flex;
    margin: 5px 0;
    cursor: pointer;
}
.footer_text_1{
    margin-top: 20px;
}
.footer_icon{
    display: flex;
    align-items: center;
    color: white;
    margin-right: 10px;
    height: 20px;
}

.footer__paragraph{
    margin: 0 0 5px 0;
}
.footer_p{
    margin: 5px 0 15px 0;
    cursor: pointer;
}
.contact{
    margin-top: 10px;
}

@media (min-width: 800px){
    .picture_restaurant_card{
        height: 380px;
    }
}
@media (min-width: 800px){
    .dishes_cards{
        width: 70%;
        
    }
}