$primary-color:#FF79DA;
$secondary-color:#9356DC;

.btn_linear_gradient{
    font-size: 16px;
    border-radius: 30px;
    margin-bottom: 50px;
    color: white;
    width: 250px;
    height: 55px;
    border: none;
    cursor: pointer;
    background: linear-gradient($primary-color,$secondary-color);
    opacity: 1;

        &:hover{
            opacity: 0.9;
        }
}